# build and install directories
build/
install/

# unwanted file types
**.h5
**.xdmf

**.bp

*.vtu
*.pvtu
*.pvd

*.xml
*.pyc
*.msh

# results and outputs
**/output
**/results

# editor files
.vscode/c_cpp_properties.json
.vscode/settings.json
**/.vscode

# example executables
**/magnetostatic_2D_exec

# necessary input files
!examples/magnetostatic_2D/TEAM_Problem_32/input/sources/TEAM_Problem_32_case_3_two_periods.xml
!examples/magnetostatic_2D/TEAM_Problem_32/input/material/TEAM32_cont_60deg.xml
!examples/magnetostatic_2D/TEAM_Problem_32/input/validation/TEAM_Problem_32_case_3_flux.xml